<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>식수 인원 현황</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
        <style>
			#test_btn1{
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
				margin-right:-4px;
			}
			#test_btn2{
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
				margin-left:-3px;
			}
			#btn_group button{
				border: 1px solid skyblue;
				background-color: rgba(0,0,0,0);
				color: skyblue; padding: 5px;
			}
			#btn_group button:hover{
				color:white;
				background-color: skyblue;
            }
        </style>
    </head>
    <body>
        <div class="main">
            <h1>식수 인원 현황</h1>
            <div class="links">
                    <a href="{{ url_for('db_log') }}">Log 기록</a>
                    <a href="{{ url_for('db_headcount') }}" class="active">식수 인원 현황</a>
			</div>
			<div>
				<center>
					<form action="{{ url_for('db_headcount') }}" method="post">
						<input type='date', name="date" placeholder="date" id = "date" required>
					</form>
					<br>
				</center>
				<table>
					<th>시간대</th>
					<th>인원 수</th>
					<tr>
						<td>아침</td>
						<td>%명</td>
					</tr>
					<tr>
						<td>점심</td>
						<td>%명</td>
					</tr>
					<tr>
						<td>저녁</td>
						<td>%명</td>
					</tr>
					</table>
			</div>
            <br>
			<div id='btn_group'>
				<button id = 'test_btn1' onclick="location.href='{{ url_for('db_read')}}'">QR</button>
				<button id = 'test_btn2' onclick="location.href='{{ url_for('db_create')}}'">수기</button>
			</div>	
        </div>
    </body>
</html>
